<html>

<head>
    <link rel="stylesheet" href="../css/mdui.min.css" />

    <link type="text/css" rel="stylesheet" href="../css/detail.css" />
    <script src="../js/jq.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>看剧赏片</title>
</head>

<body>
    <div class="mdui-appbar" id="bar">
        <div class="mdui-toolbar mdui-color-indigo">
            <a   class="mdui-btn mdui-btn-icon" onclick="back()"><i class="mdui-icon material-icons">arrow_back</i></a>
            <a href="javascript:;" class="mdui-typo-title">{{title}}</a>
        </div>
    </div>
    <div id="app">
        <div class="cardBox" v-if="finish">


            <div style="text-align:left">
                <div ><img :src="coverImg" style="width:250px" /></div>
            </div>

            <div>
                <div class="contentBox">
                    

                    <ol>
                        <ul v-for="item in desc"> <a  class="mdui-list-item mdui-ripple">{{item}}</a>
                        </ul>

                    </ol>
                    <ol>
                        <ul>请复制链接或右键选择迅雷下载</ul>
                        <ul v-for="item in downloadList"  class="mdui-list-item mdui-ripple"><a :href="item">{{item}}</a></ul>
                    </ol>
                </div>
            </div>


        </div>

        <script src="../js/mdui.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script src="../js/detail.js"></script>

</body>



</html>