<html>

<head>
    <link rel="stylesheet" href="../css/mdui.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/gallery.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>用户数据</title>
</head>

<body>
    <div id="app" style="padding:10px" class="mdui-row-xs-3 mdui-row-sm-4 mdui-row-md-10 mdui-row-lg-6 mdui-row-xl-7 mdui-grid-list">

        <div v-for="item in items" class="mdui-col" style="width:200px;height:200px;" >
            <div class="mdui-grid-tile">
                <img   :src="item.avatar" style="hover{width:120%;height:120%}" width="100%" height="100%" />
                <div class="mdui-grid-tile-actions mdui-grid-tile-actions-transparent">
                    <div class="mdui-grid-tile-text">
                        <div class="mdui-grid-tile-title">{{item.name}}</div>
                    </div>
                </div>
            </div>
        </div>
 <div class="mdui-progress" v-if="isLoadMoreFinish == false">
                <div class="mdui-progress-indeterminate"></div>
            </div>
    </div>




    <link rel="stylesheet" href="../css/mdui.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>

    <script src="../js/jq.js"></script>
    <script src="../js/gallery.js"></script>
</body>



</html>