<html>
<head>
<link type="text/css"  rel="stylesheet" href="../css/index.css"/>
<link type="text/css"  rel="stylesheet" href="../css/pb.css"/>

<script src="../js/jq.js"></script>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>heaven</title>
</head>
<body> 
<div id="app-china" class="cardBox"> 
 
    <div class="headerBox" >华语</div>
    <div class="bodyBox">
    <ol>
    <li class="item-li" v-for="item in movies">
    <a  class="item-content"  href="javascript:void(0);" v-on:click="showDetail(item.name,item.href)" >{{item.name}}</a>
    </li>
    </ol>
    <div class="item-more">
    <a href="javascript:void(0);" v-on:click="showMoreMovie" >更多电影</a></div> 
    <ol>
    <li class="item-li" v-for="item in tvs">
    <a  class="item-content"  href="javascript:void(0);" v-on:click="showDetail(item.name,item.href)">{{item.name}}</a>
    </li>
    </ol>
     <div class="item-more">
    <a href="javascript:void(0);" v-on:click="showMoreTv" >更多电视剧</a></div>  
    </div> 
</div>

<div id="app-rihan" class="cardBox"> 
 
    <div class="headerBox" >日韩</div>
    <div class="bodyBox">
    <ol>
    <li class="item-li" v-for="item in movies">
    <a  class="item-content"  href="javascript:void(0);" v-on:click="showDetail(item.name,item.href)">{{item.name}}</a>
    </li>
    </ol>
    <div class="item-more">
    <a href="javascript:void(0);" v-on:click="showMoreMovie" >更多电影</a></div> 
    <ol>
    <li class="item-li" v-for="item in tvs">
    <a  class="item-content"  href="javascript:void(0);" v-on:click="showDetail(item.name,item.href)">{{item.name}}</a>
    </li>
    </ol>
     <div class="item-more">
    <a href="javascript:void(0);" v-on:click="showMoreTv" >更多电视剧</a></div>  
    </div> 
</div>
<div id="app-oumei" class="cardBox"> 
 
    <div class="headerBox" >欧美</div>
    <div class="bodyBox">
    <ol>
    <li class="item-li" v-for="item in movies">
    <a  class="item-content"  href="javascript:void(0);" v-on:click="showDetail(item.name,item.href)">{{item.name}}</a>
    </li>
    </ol>
    <div class="item-more">
    <a href="javascript:void(0);" v-on:click="showMoreMovie" >更多电影</a></div> 
    <ol>
    <li class="item-li" v-for="item in tvs">
    <a  class="item-content"  href="javascript:void(0);" v-on:click="showDetail(item.name,item.href)">{{item.name}}</a>
    </li>
    </ol>
     <div class="item-more">
    <a href="javascript:void(0);" v-on:click="showMoreTv" >更多电视剧</a></div>  
    </div> 
</div>
<div id="app-zongyi" class="cardBox"> 
 
    <div class="headerBox" >综艺</div>
    <div class="bodyBox">
    <ol>
    <li class="item-li" v-for="item in movies">
    <a  class="item-content"  href="javascript:void(0);" v-on:click="showDetail(item.name,item.href)">{{item.name}}</a>
    </li>
    </ol> 
     <div class="item-more">
    <a href="javascript:void(0);" v-on:click="showMore" >更多综艺</a></div>  
    </div> 
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script src="../js/index.js"></script>
</body>



</html>